<app-navigation></app-navigation>

<div class="container">
  <div class="series-display">

    <div id="seriesGrimm" class="series">
      <div class="image">
        <img src="/assets/series/grimm.png" alt="Grimm Cases Series" />
      </div>
  
      <div class="info">

        <h1>The Grimm Cases</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="book">
      <div class="info">
        <h2>The Series</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <button><a routerLink="/grimm">See Series</a></button>        
      </div>
 
      <div class="image">
        <img src="/assets/series/grimm-origins.png" alt="Grimm Cases Origins" />
      </div>
    </div>

    <div id="seriesRed" class="series">  
      <div class="image">
        <img src="/assets/series/red.png" alt="The Red Trilogy" />
      </div> 

      <div class="info">
        <h1>The Red Trilogy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  
        <button><a routerLink="/red">Red</a></button>
      </div>        
    </div>

    <div class="book">
      <div class="info">
        <h2>The Series</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
 
      <div class="image">
        <img src="/assets/series/red-rising.png" alt="Red Rising Sun" />
      </div>
    </div>    
  
  </div>
</div>