<div class="books">
  <div *ngFor="let book of books">
    <div *ngIf="book.series == 'Grimm'">

      <!-- Call out Novella -->
      <div *ngIf="book.novella == true;then novella else series"></div>    
      
      <ng-template #novella>
        <div style="border:3px solid pink;">     
          <a routerLink="/book/{{book.id}}">
            <span class="badge">{{book.id}}</span> NOVELLA {{book.name}} {{book.series}}
          </a>  
                  
        </div>
      </ng-template>
      
      <ng-template #series>
        <div style="border:3px solid purple;">
          <a routerLink="/book/{{book.id}}">
            <span class="badge">{{book.id}}</span> NOVELLA {{book.name}} {{book.series}}
          </a>                        
        </div>              
      </ng-template>
    </div>
  </div>
</div>