<app-dashboard></app-dashboard>

<div id="{{pageLink}}" ngClass="content">
  <div ngClass="container">

    <section ngClass="row">
      <div ngClass="col-7 extra-padding-top">
        <h1>The Grimm Cases</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </blockquote>
      </div>

      <div ngClass="col-5 side-image">
        <img src="./assets/series-grimm/bianca.png" class="full" />
      </div>
    </section>

  </div>
</div>

<div ngClass="book-section paper">
  <div ngClass="container">
    <section ngClass="d-flex flex-wrap">
      <ng-container *ngFor="let book of books"> 
        <div *ngIf="book.series == 'Grimm'">
          <img src="./assets/series-{{book.series | lowercase}}/thumb-{{book.name | lowercase}}.jpg"/>

          <h2>
            <span *ngIf="book.novella == true" ngClass="icon">
              <i class="fa fa-bookmark" aria-hidden="true"></i>
            </span>

            <span *ngIf="book.novella != true" ngClass="icon">
              <i class="fa fa-book" aria-hidden="true"></i>
            </span>              

            <a href="{{book.link}}" target="_blank">
              {{book.name}}
            </a> 
          </h2>

          <h3 *ngIf="book.novella == true" ngClass="stand">
            Novella
          </h3>             

          <p>{{ book.blurb }}</p>

        </div>
      </ng-container>
    </section>   
  </div> 
</div>

<app-slider></app-slider>  