<div id="{{pageLink}}">
  <app-slider></app-slider> 
  
  <div ngClass="container">

    <section ngClass="no-background">
      <div ngClass="border">
        <div ngClass="two-third">
          <h2>Grimm Cases</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
        </div>

        <div ngClass="one-third">
          TEST
        </div>
       </div>
    </section>
    
  </div>

  <div ngClass="tan">
    <section ngClass="container no-background">

      <ul ngClass="books">      
        <ng-container *ngFor="let book of books" >        
 
          <li *ngIf="book.featured == true; else bookList" ngClass="featured">
            <a routerLink="/book/{{book.id}}">
              FEATURED BOOK {{book.name}} {{book.series}}
            </a> 
          </li>

          <ng-template #bookList>
            <li *ngIf="book.series == 'Grimm'"
                style="background-image:url('./assets/series-{{book.series | lowercase}}/thumb-{{book.name | lowercase}}.png')">
              
              <span *ngIf="book.novella == true">
                <a routerLink="/book/{{book.id}}">
                  NOVELLA {{book.name}} {{book.series}}
                </a> 
              </span>
  
              <span *ngIf="book.novella != true">
                <a routerLink="/book/{{book.id}}">
                  BOOK {{book.name}} {{book.series}}
                </a> 
              </span>

            </li>
          </ng-template>

        </ng-container>   
      </ul>

    </section>
  </div>

</div>