/*
============================================================
  Responsive behaviors
============================================================
*/

$media-mobile: "screen and (max-width : 480px)";
$media-desktop: "screen and (min-width : 481px)";


/*
============================================================
  Colors
============================================================
*/

$gray:      #313130;
$white:		  #dfd7d5;


/*
============================================================
  Fonts
============================================================
*/

$fancyFont:						'Vollkorn', serif;
$normalFont:					'PT Serif', serif;