<div id="{{pageLink}}">
  <app-dashboard></app-dashboard>
    
  <app-slider></app-slider> 

  <div class="container">
    <section class="no-padding">  
    
      <div class="container">
        <div class="subhead">
          <div class="logo">
            <img alt="Logo" src="/assets/logo-author.png" />
          </div>    
        </div> 
      </div>      

      <div class="container">
        <section>

          <h1>Home Component</h1>
          
        </section>
      </div>

    </section>
  </div>

</div>