<div id="{{pageLink}}-page">

    <app-navigation></app-navigation>

    <div class="container">
        <div class="series-display">
      
          <div id="blood" class="series">
            <div class="info">
      
              <h1>Ghost</h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                    
            </div>

            <div class="image">
                <img src="/assets/series-grimm/header-blood.png" alt="Grimm Cases Series" />
              </div>              
          </div>
      
          <div class="book">
            <div class="info">
              <h2>The Series</h2>
      
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
       
            <div class="image">
              <img src="/assets/series-grimm/book-ghost.png" alt="Grimm Cases Origins" />
            </div>
          </div>
          
        </div>
    </div>
</div>