.seriesGrimm {
  background-image: url('./assets/series-grimm/bkg-header.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

.seriesSingle {
  .container {
    background: none;
    margin: 0 auto;
  }

  h2 {
    color: $pink;
    font-family: $normalFont;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;

    a {
      color: inherit;
      text-transform: uppercase;
    }
  } 
  
  h2 > .icon  {
    display: block;
    float: left;
    line-height: inherit;
    margin: 0 5px 0 0;

    .fa {
      font-size: inherit;
      line-height: inherit;
    }
  } 

  h3 {
    color: $tan;
    font-family: $normalFont;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
}