.seriesGrimm {
  background-image: url('./assets/series-grimm/bkg-header.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;

  .container {
    background: none;
  }

  p {
    color: $tan;
  }
}