#hidden {
    background-image: url('./assets/series-grimm/bkg-hidden.png');

    .image {

        img {
            margin-top: -30px;
            margin-bottom: -4px;
        }            
    }     
}  